.email-navbar{
    padding: 5px 56px;
    display: flex;
    box-shadow: -1px 4px 8px -5px rgba(0,0,0,.75);
}

.email-navbar.ck-widget, 
.email-navbar > div:hover,
.email-navbar .ck-widget{
    outline:none;
    outline-color: white;
}

.email-navbar > div{
    width: 15px;
    height: 15px;
    margin: 5px;
}

.email-button-container{
    display: flex;
    padding-top: 11px;
    justify-content: center;
    height: 30px!important;
    width: 100px!important;
    border: 1px solid;
    border-color: rgb(187, 187, 187);
    border-radius: 5px;
    transition: ease 0.3s;

}

.email-button-container:hover{
    cursor: pointer;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    transition: ease 0.3s;
}
.email-button-container > div{
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.email-button-container p{
    margin:0;
}

.email-reply-button{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/e/e7/Font_Awesome_5_solid_reply.svg');
}

.email-replya-button{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/0/05/Font_Awesome_5_solid_reply-all.svg');
}

.email-bold-button{
    background-image: url('theme/icons/bold.svg');
}

.email-italic-button{
    background-image: url('theme/icons/italic.svg');
}

.email-link-button{
    background-image: url('theme/icons/link.svg');
}

.email-hr-button{
    background-image: url('theme/icons/hr.svg');
}
.email-strike-button{
    background-image: url('theme/icons/strike.svg');
}
.email-attachment-button{
    background-image: url('theme/icons/attachment.svg');
}
.email-undo-button{
    background-image: url('theme/icons/undo.svg');
    margin-left: 10px;
}
.email-redo-button{
    background-image: url('theme/icons/redo.svg');
}
.email-send-button{
    background-image: url('theme/icons/send.svg');
}