.email-navbar{
    padding: 5px 56px;
    display: flex;
    box-shadow: -1px 4px 8px -5px rgba(0,0,0,.75);
}

.email-navbar.ck-widget, 
.email-navbar > div:hover,
.email-navbar .ck-widget{
    outline:none;
    outline-color: white;
}

.email-navbar > div{
    width: 15px;
    height: 15px;
    margin: 5px;
}

.email-button-container{
    display: flex;
    padding-top: 11px;
    justify-content: center;
    height: 30px!important;
    width: 100px!important;
    border: 1px solid;
    border-color: rgb(187, 187, 187);
    border-radius: 5px;
    transition: ease 0.3s;

}

.email-button-container:hover{
    cursor: pointer;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    transition: ease 0.3s;
}
.email-button-container > div{
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.email-button-container p{
    margin:0;
}

.email-reply-button{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/e/e7/Font_Awesome_5_solid_reply.svg');
}

.email-replya-button{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/0/05/Font_Awesome_5_solid_reply-all.svg');
}

.email-bold-button{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/2/27/Font_Awesome_5_solid_bold.svg');
}

.email-italic-button{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/3/3a/Italic_font_awesome.svg');
}

.email-link-button{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/1/1b/Font_Awesome_5_solid_link.svg');
}

.email-hr-button{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/b/b3/Font_Awesome_5_solid_grip-vertical.svg');
}
.email-strike-button{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/7/7a/Font_Awesome_5_solid_strikethrough.svg');
}
.email-attachment-button{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/0/0e/Paper_clip_font_awesome.svg');
}
.email-undo-button{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/0/0d/Undo_font_awesome.svg');
    margin-left: 10px;
}
.email-redo-button{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/4/4e/Font_Awesome_5_solid_redo.svg');
}
.email-send-button{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/7/74/Envelope_alt_font_awesome.svg');
}
.email-forward-button{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/b/bc/Font_Awesome_5_solid_share.svg');
}
.email-trash-button{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/9/9a/Font_Awesome_5_solid_trash-alt.svg');
}