.story-form p {
    margin: 0;
     padding-top: 0;
     padding-left: 56px;
     padding-right: 16px;
     line-height: 25px;
     letter-spacing: 1px;
     word-spacing: 5px;
     /* margin-bottom: 1px; */
 }
 .story-form {
     width: 60%;
     margin: 20px auto;
     padding-top: 10px;
     padding-bottom: 10px;
     background-color: white;
     box-shadow: 0px 0px 5px 0px #888;
 }

 
 